// import base - contains global styles, such as resets, typography, colors
// import vendors
@import "vendor/toolkit";
// import components- contains each self-contained component in its own .scss partial
@import "components/dashboard";
@import "components/filterpanel";
@import "components/triadStackedMap";
@import "components/triadgenomemap";
