// import base - contains global styles, such as resets, typography, colors
// import vendors
@import "vendor/toolkit";
// import components- contains each self-contained component in its own .scss partial
@import "components/dashboard";
@import "components/filterpanel";
@import "components/triadStackedMap";
@import "components/triadgenomemap";
@import "components/triadlegend";

.graph-tooltip {
    position: absolute;
    width: 200px;
    background: #253b46;
    min-height: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    z-index: 100;
    span {
        white-space: pre-wrap;
    }
    color: white;
}

.gene-canvas {
    margin-top: 5px;
    border: 2px solid white;
}
