// import base - contains global styles, such as resets, typography, colors
// import vendors
@import "vendor/toolkit";
// import components- contains each self-contained component in its own .scss partial
@import "components/filterpanel";
@import "components/triadstackedmap";
@import "components/triadgenomemap";
@import "components/triadlegend";
@import "components/subregionmap";
@import "components/navbar";
@import "components/container";
@import "components/generefmap";

.home-header {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: 5px;
    font-size: 1.25em;
    color: #fff;
    position: relative;
    h1 {
        margin-bottom: 5px;
        font-size: 40px;
        line-height: 1;
        font-weight: bold;
    }
    p {
        font-weight: 300;
        line-height: 1.4;
    }
}

.graph-tooltip {
    position: absolute;
    width: 200px;
    background: #253b46;
    min-height: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    z-index: 100;
    span {
        white-space: pre-wrap;
    }
    color: white;
}

.gene-canvas {
    margin-top: 5px;
    border: 2px solid white;
}

.triad-browser-mount {
    min-height: 1000px;
}

.dashboard-root {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #252830;

    .loading-spinner {
        margin: 100px auto;
    }

    .chart-title {
        display: inline-block;
        margin: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: #ffffff;
    }
}

.instruction-panel {
    margin-top: 20px;
    margin-bottom: 1em;
    background: #14334a;
    padding: 10px 10px;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    text-align: left;
}
