.dashboard-root {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #252830;

    .loading-spinner {
        margin: 20px auto;
    }

    .chart-title {
        display: inline-block;
        margin: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        color: #ffffff;
    }
}
