.filter-panel {
    position: relative;
    margin: 20px auto;
    padding: 25px 50px 0px 0px;
    display: inline-flex;

    .line-select {
        display: inline-block;
        margin-left: 15px;
    }
    .inner-span {
        color: #ffffff;
        display: inline-block;
        margin-right: 15px;
    }
    .select-box {
        display: inline-block;
        width: 500px;
        margin-right: 10px;
        &.source {
            width: 150px;
        }
    }
}