.filter-panel {
    position: relative;
    margin: 20px auto;
    margin-top: 60px;
    padding: 25px 50px 0px 0px;
    display: inline-flex;

    .line-select {
        display: inline-block;
        margin-left: 15px;
    }
    .inner-span {
        color: #ffffff;
        display: inline-block;
        margin-right: 15px;
    }
    .select-box {
        display: inline-block;
        width: 500px;
        margin-right: 10px;
        &.source {
            width: 150px;
        }
    }
    .text-container {
        display: inline-block;
        margin-right: 20px;
    }
    .inner-span-text {
        padding: 3px;
        display: block;
    }
    .percent-subgenome-text{
        color: white;
        padding-right: 5px;
    }
}