.triad-stack-container {
    margin: 10px auto;
    position: relative;
    padding-bottom: 20px;

    .view-finder-wrapper {

        position: relative;
    }

    .variable-window {
        width: 150px;
        background-color: #0c0c0c36;
        border: 1px solid #9c9c9c;
        touch-action: none;
        box-sizing: border-box;
        border-bottom: 10px solid white;
    }

    .geneMarker {
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        
        border-top: 20px solid #f00;
    }
}
