.curved-line {
    position: absolute;
    width: 180px;
    height: 90px;
    border: solid 12.5px #000;
    border-color: black transparent transparent transparent;
    border-radius: 50%/100% 100% 0 0;
    transform: rotate(180deg);
    margin-left: 45px;
    margin-top: 60px;
    position: relative;
  }
  
  .curved-line:before {
    content: '';
    position: absolute;
    top: 95%;
    left: -12px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: black;
  }
  
  .curved-line:after {
    content: '';
    position: absolute;
    top: 95%;
    right: -11.5px;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background: black;
  }